                          body{
                    background: url(mar2.jpg);
               background-size: 200%;
                              }

                           .cm{
                     font-size: 50px;
                         width: 220px;
                        height: 130px;
                         color: yellow;
              background-color: red;
                 border-radius: 40px;
                              }